version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: always
    env_file:
      - .env
    ports:
      - "7000:7000"
    depends_on:
      - dbadso
      - redis
      - minio # Wait for minio to start
    networks:
      - app_network

  dbadso:
    image: postgres:15
    container_name: postgres_db_adso
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    env_file:
      - .env
    networks:
      - app_network

  # ✅ MINIO SERVICE (The S3 Server)
  minio:
    image: minio/minio
    container_name: minio_server
    restart: always
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API Port (Django connects here)
      - "9001:9001" # Console Port (You access this in browser)
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password1234 # ⚠️ Change this in production
    volumes:
      - minio_data:/data
    networks:
      - app_network

  # ✅ BUCKET CREATOR (Runs once to create 'devadsobucket')
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    networks:
      - app_network
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 admin password1234;
      /usr/bin/mc mb myminio/devadsobucket;
      exit 0;
      "

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
  minio_data: # Persist MinIO files