asgiref
Django>=4.2
djangorestframework
djangorestframework-simplejwt
pillow
PyJWT
sqlparse
tzdata
psycopg2-binary
django-filter
django-cors-headers
Pillow
drf-yasg
django-environ
requests
boto3 
django-storages
whitenoise
celery
celery[redis]==5.4.0
redis>=5.0
pytz
deepgram-sdk
django-celery-beat
openai
